body {
    background-size: cover;
}

ul {
    background-color: rgb(0, 0, 0);
    color: burlywood;
    align-content: center;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

#qwe {
    size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.asd {
    size: 35px;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 20px;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    word-spacing: 20px;
    color: rgb(3, 1, 1);
    word-spacing: 15px;
    size: 60%;
    font-weight: bolder;
    text-decoration: underline;
}

ul {
    background-color: rgb(5, 108, 148);
    color: rgb(0, 0, 0);
    padding: 10px;
}

li {
    display: inline-block;
    padding: 10px;
}

.asd:hover {
    background-color: rgba(0, 0, 0, 0.555);
    color: rgb(226, 219, 219);
}

#hid {
    visibility: hidden;
}

#hid {
    visibility: hidden;
}

#he {
    font-size: 15px;
    font-weight: bold;
    color: wheat;
    padding-left: 20px;
    padding-top: 30px;
    text-decoration: underline;
}

#wrap {
    background-color: rgba(103, 207, 221, 0.308);
    width: 75%;
    border: 2px;
    margin: 0 auto;
}

#wrap2 {
    background-color: rgba(103, 207, 221, 0.308);
    width: 85%;
    height: 45%;
    border: 2px;
    margin: 0 auto;
    padding: 45px 35px 45px 45px;
}

#wrap3 {
    background-color: rgba(0, 0, 0, 0.829);
    left: 50px;
    height: 225px;
    width: 250px;
    padding: 2px 2px;
    margin-top: 100px;
    margin-left: 100px;
}

#wrap41 {
    display: inline;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.829);
    left: 800px;
    bottom: 300px;
    height: 50px;
    width: 300px;
    padding: 2px 2px;
}

#wrap42 {
    display: inline;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.829);
    left: 800px;
    bottom: 200px;
    height: 50px;
    width: 300px;
    padding: 2px 2px;
}

#wrap43 {
    display: inline;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.829);
    left: 800px;
    bottom: 100px;
    height: 50px;
    width: 300px;
    padding: 2px 2px;
}

#feedback {
    margin-left: 20%;
}

#con {
    display: inline;
    position: absolute;
    bottom: 370px;
    left: 900px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 25px;
    background-color: rgba(82, 206, 255, 0.603);
}

#feed {
    display: inline;
    position: absolute;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 25px;
    bottom: 370px;
    left: 300px;
    background-color: rgba(82, 206, 255, 0.603);
}

#infeed {
    margin-left: 35px;
    margin-top: 30px;
    width: 170px;
    height: 170px;
    padding: 20px 20px 20PX 20PX;
}

#con1 {
    color: aliceblue;
    font-size: 15px;
    margin-left: 30px;
    word-spacing: 7px;
}

#con2 {
    color: aliceblue;
    font-size: 15px;
    margin-left: 70px;
    word-spacing: 7px;
}

#con3 {
    color: aliceblue;
    font-size: 15px;
    margin-left: 70px;
    word-spacing: 7px;
}

#img {
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    margin-left: 350px;
}

#sep {
    background-color: rgba(0, 0, 0, 0.555);
}

#sumit {
    width: 80px;
    height: 30px;
    position: absolute;
    display: inline-block;
    margin-left: 180px;
    margin-top: 15px;
    border-radius: 30px;
}

#button {
    background-color: rgba(0, 0, 0, 0.514);
    color: blanchedalmond;
}

button:hover {
    color: rgb(255, 248, 248);
    background-color: rgb(0, 0, 0);
}

.asd {
    margin-left: 10%;
}