body {
    background-size: cover;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

#qwe {
    size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.asd {
    size: 35px;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 20px;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    word-spacing: 20px;
    color: rgb(3, 1, 1);
    word-spacing: 15px;
    size: 60%;
    font-weight: bolder;
    text-decoration: underline;
}

ul {
    background-color: rgb(5, 108, 148);
    color: rgb(0, 0, 0);
    padding: 10px;
}

li {
    display: inline-block;
    padding: 10px;
}

.asd:hover {
    background-color: rgba(0, 0, 0, 0.555);
    color: rgb(226, 219, 219);
}

#hid {
    visibility: hidden;
}

#he {
    font-size: 15px;
    font-weight: bold;
    color: wheat;
    padding-left: 20px;
    padding-top: 30px;
    text-decoration: underline;
}

#para {
    font-size: 20px;
    padding: 15px 40px 40px;
    color: rgb(64, 224, 208);
    text-align: justify;
}

#wrap {
    background-color: rgba(103, 207, 221, 0.308);
    width: 75%;
    border: 2px;
    margin: 0 auto;
}

#wrap2 {
    background-color: rgba(103, 207, 221, 0.308);
    width: 85%;
    height: 45%;
    border: 2px;
    margin: 0 auto;
    padding: 45px 35px 45px 45px;
}

#wrap3 {
    background-color: rgba(0, 0, 0, 0.829);
    left: 50px;
    height: 325px;
    width: 500px;
    padding: 2px 2px;
}

#log {
    color: rgb(0, 0, 0);
    align-items: center;
    left: 60%;
    top: 80%;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.but.but::hove {
    background-color: rgba(0, 0, 0, 0.555);
    color: rgb(255, 119, 119);
}

#img {
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    margin-left: 350px;
}

#no1 {
    display: inline-block;
    position: absolute;
    margin-top: 340px;
    margin-left: 800px;
}

#no2 {
    display: inline-block;
    position: absolute;
    margin-top: 340px;
    margin-left: 1100px;
}

#no3 {
    display: inline-block;
    position: absolute;
    margin-top: 525px;
    margin-left: 1100px;
}

#no4 {
    display: inline-block;
    position: absolute;
    margin-top: 525px;
    margin-left: 800px;
}

#sep {
    background-color: rgba(0, 0, 0, 0.555);
}

.asd {
    margin-left: 10%;
}